apiVersion: apps/v1
kind: Deployment
metadata:
  name: docker-k8s-app
  namespace: docker-k8s
spec:
  replicas: 2
  selector:
    matchLabels:
      app: docker-k8s-app
  template:
    metadata:
      labels:
        app: docker-k8s-app
    spec:
      containers:
        - name: app
          image: peacemaker283/kubernetes-demo-api:latest
          ports:
            - containerPort: 3000
          env:
          - name: PORT
            value: "3000"
          - name: DATABASE_URL
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: DATABASE_URL